<footer class="index-footer">
    <div class="container index-footer__container">
        <div class="grid">
            <div class="grid__col grid__col--1-of-3 border-right">
                <a href="{{ site.baseurl }}/"><img class="cal-outline" src="{{ "/assets/images/cal-outline.png" | relative_url }}" alt="Cal Fussman"></a>
            </div>
            <div class="grid__col grid__col--1-of-3 border-right">
                <div class="social">
                    <a target="_blank" href="//facebook.com/cfussman/"><img src="{{ "/assets/images/logo-fb.png" | relative_url }}" alt="Facebook"></a>
                    <a target="_blank" href="//twitter.com/calfussman"><img src="{{ "/assets/images/logo-twitter.png" | relative_url }}" alt="Twitter"></a>
                    <a target="_blank" href="//www.instagram.com/calfussman/"><img src="{{ "/assets/images/logo-ig.png" | relative_url }}" alt="Instagram"></a>
                </div>
            </div>
            <div class="grid__col grid__col--1-of-3">
                <ul class="links">
                    <li><a href="{{ site.baseurl }}/about">About</a></li>
                    <li><a href="{{ site.baseurl }}/speaking">Speaking</a></li>
                    <li><a target="_blank" href="//medium.com/@calfussman">Blog</a></li>
                    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                </ul>
            </div>
        </div>
        <p class="copyright">&copy; Cal Fussman 2017</p>
    </div>
</footer>