<footer class="index-footer">
    <div class="container index-footer__container">
        <div class="grid">
            <div class="grid__col grid__col--1-of-3 border-right">
                <img class="cal-outline" src="{{ "/assets/images/cal-outline.png" | relative_url }}" alt="Cal Fussman">
            </div>
            <div class="grid__col grid__col--1-of-3 border-right">
                <div class="social">
                    <a href="#"><img src="{{ "/assets/images/logo-fb.png" | relative_url }}" alt="Facebook"></a>
                    <a href="#"><img src="{{ "/assets/images/logo-twitter.png" | relative_url }}" alt="Twitter"></a>
                    <a href="#"><img src="{{ "/assets/images/logo-ig.png" | relative_url }}" alt="Instagram"></a>
                </div>
            </div>
            <div class="grid__col grid__col--1-of-3">
                <ul class="links">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Speaking</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>