<nav class="navbar navbar--transparent">
    <a href="{{ site.baseurl }}/" class="navbar__logo {% if page.url == "/contact/" %}black{% endif %}"><h1><span class="light-weight">Cal</span> Fussman</h1></a>

    <a href="#" class="navbar__icon">&#9776;</a>
    <ul {% if page.url == "/contact/" %}class="black"{% endif %}>
        <li><a {% if page.url == "/about/" %}class="active"{% endif %} href="{{ site.baseurl }}/about">About</a></li>
        <li><a {% if page.url == "/speaking/" %}class="active"{% endif %} href="{{ site.baseurl }}/speaking">Speaking</a></li>
        <li><a target="_blank" href="//medium.com/@calfussman">Blog</a></li>
        <li><a {% if page.url == "/contact/" %}class="active"{% endif %} href="{{ site.baseurl }}/contact">Contact</a></li>
    </ul>
</nav>

 <a href="{{ site.baseurl }}/contact" class="navbar--book">Book Cal</a> 