.index-header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    padding: 0 32px;

    @include media("<medium") {
        padding: 0 16px;
    }
    
    .index-header__logo {
        text-transform: uppercase;
        float: left;
        padding: 8px 0;
        color: $white;
        font-size: 2.5em;

        @include media("<medium") {
            font-size: 2.0em
        }

        @include media("<small") {
            font-size: 1.5em
        }
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: $white;

        &.book {
            position: fixed;
            right: 32px;
            z-index: 10000;
        }
    }

    .index-header__book {
        float: right;
        padding: 30px 24px 16px;
        background-color: rgba(255,255,255,0.3);
        border-radius: 16px;
        margin-top: -18px;
        letter-spacing: 1px;
        font-size: 20px;

        @include media("<small") {
            padding: 20px 16px 10px;
            margin-top: -12px;
            font-size: 16px;
        }
    }
}

.section--landing {
    background-image: url(../images/bg-index.jpg);
    background-color: $dark-gray;
    padding-top: 200px;
    position: relative;

    .section--landing__heading {
        color: rgba(255,255,255,1);
        text-align: center;
        position: absolute;
        right: 15%;
        font-size: 28px;
        text-transform: uppercase;

        @include media("<xlarge") {
            right: 12%;
        }

        @include media("<large") {
            right: 5%;
        }

        @include media("<medium") {
            top: 33%;
            right: 0;
            left: 0;
            font-size: 20px;
        }

        h1 {
            margin-bottom: 28px;
            font-weight: 300;
            font-style: italic;

            @include media("<medium") {
                margin-bottom: 14px;
            }
        }
    }
    
    .section--landing__nav {
        position: absolute;
        bottom: 16px;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, .3);

        .index-nav {
            li {
                display: inline-block;
                padding: 8px 40px;
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 22px;

                &:hover {
                    text-decoration: underline;
                }

                @include media("<medium") {
                    padding: 8px;
                    font-size: 14px;
                }
            }

            &.index-nav--left {
                float: left;
            }
            &.index-nav--right {
                float: right;
            }
        }
    }
}

.section--email-grab {
    background-image: url(../images/bg-contact.jpg);
    background-size: cover;

    .section--email-grab__container {
        padding: 24px 16px;

        @include media("<medium") {
            text-align: center;
        }

        p {
            font-size: 20px;
            font-style: italic;
            color: $white;

            @include media("<xlarge") {
                font-size: 18px;
            }


            @include media("<medium") {
                text-align: center;
            }
            
        }

        .section--email-grab__container__contact-form {
            margin-top: 10px;

            @include media("<xlarge") {
                text-align: right;
            }

            @include media("<medium") {
                text-align: center;
            }
        }

        .input--signup__label {
            display: inline;

            @include media("<medium") {
                display: block;
            }

            p {
                display: inline;
                font-weight: 400;
                font-size: 14px;
                color: $white;
                font-style: normal;
            }

            .input--signup {
                display: inline;
                width: 290px;
                max-width: 100%;
                border-color: $white;
                color: $white;

                @include media("<xlarge") {
                    width: 220px;
                }

                @include media("<large") {
                    width: 180px;
                }

                @include media("<medium") {
                    width: 200px;
                }
            }
        }

        input[type="submit"] {
            margin-left: 16px;
        }
    }
}

.section--experience {
    background-image: url(../images/bg-video.jpg);
    background-size: cover;
    background-position: right bottom;

    @include media("<medium") {
        background-position: 90%;
    }

    .section--experience__container {
        padding-top: 15%;
        text-align: center;

        @include media("<medium") {
            padding-top: 120px;
        }

        #video-play {
            cursor: pointer;
        }

        .section--experience__container__play {
            width: 500px;
            max-width: 80%;
            margin-bottom: 32px;
            opacity: .8;
        }

        h2 {
            color: $white;
            text-transform: uppercase;
            font-size: 36px;
            text-shadow: 2px 2px 8px #000, 0 0 16px #000;
            letter-spacing: 1px;
            font-weight: 400;
        }
    }
}

.section--question {
    background-image: url(../images/bg-companies.jpg);
    background-size: cover;
    background-position: top;
    min-height: 100vh !important;
    height: inherit !important;

    .section--question__container {
        color: $white;
        padding-top: 150px;
        padding-bottom: 100px;

        @include media("<medium") {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .text {
            margin: 0 auto;
            margin-bottom: 150px;
            max-width: 95%;
            margin: 0 auto;

            h2 {
                font-size: 48px;
                letter-spacing: 2px;
                font-weight: 700;
                margin-bottom: 36px;
                text-align: center;
            }
            
            p {
                font-size: 28px;
                letter-spacing: .2px;
                line-height: 1.5;
                font-weight: 300;
                margin-bottom: 48px;
            }
            
            @include media("<medium") {
                p {
                    font-size: 22px;
                }
                h2 {
                    font-size: 36px;
                }
            }

        }

        .book {
            margin-bottom: 64px;
        }

        .break {
            display: block;
            width: 80%;
            margin: 0 auto;
            text-align: center;
            margin-bottom: 200px;
        }

        .logos {
            margin: 0 auto;
            margin-bottom: 50px;
            
            .logo {
                margin-bottom: 48px;
                vertical-align: middle;
                text-align: center;
                padding: 0 16px;

                @include media("<medium") {
                    padding: 0;
                }

                img {
                    width: 80%;
                    height: auto;
                    vertical-align: middle;
                }
            }
        }

        .book {
            text-align: center;
        }
    }
}

.section--cal-question {
    background-image: url(../images/bg-fb.jpg);
    background-position: top left;
    position: relative;
    min-height: 800px !important;

    .section--cal-question__container {
        text-align: center;
        color: $white;
        padding: 15% 0;

        @include media("<medium") {
            padding: 40% 8px;
        }

        h1 {
            font-size: 56px;

            @include media("<medium") {
                font-size: 36px;
            }
        }
        p {
            max-width: 75%;
            margin: 0 auto 24px;
            font-size: 24px;

            @include media("<medium") {
                font-size: 20px;
            }

            &:last-of-type {
                margin-bottom: 48px;
            }
        }

        @include media(">large") {
            width: 60%;
            margin: 0 auto;
        }
    }
}

.section--podcast {
    height: inherit !important;
    min-height: inherit !important;

    .section--podcast__container {
        width: 100%;
        max-width: 100%;
        padding: 0;

        .section--podcast__left {
            padding-top: 10%;
            padding-bottom: 10%;
            text-align: center;
            width: 80%;
            margin: 0 auto;

            @include media(">xlarge") {
                padding-top: 20%;
            }

            .as-heard-on {
                @include media("<xlarge") {
                    display: none;
                }
            }

            .tim-ferriss-show {
                margin-bottom: 56px;

                @include media("<xlarge") {
                    display: none;
                 }
            }

            .title {
                margin-bottom: .5em;

                a {
                    color: $black;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
            .divider {
                width: 90%;
                max-width: 500px;
                margin: 2em auto;
            }

            .audio-player {
                margin-bottom: 48px;
            }

            .quote {
                width: 80%;
                margin: 0 auto;
                text-align: left;
            }

            .quote-author {
                width: 80%;
                text-align: right;
                margin: 0 auto;
            }
        }

        .section--podcast__right {
            position: relative;
            @include media(">medium") {
                &:before {
                    content: " ";
                    background-image: url(../images/plus.png);
                    position: absolute;
                    width: 80px;
                    height: 80px;
                    background-size: 100%;
                    right: calc(100% - 60px);
                    top: calc(50% - 40px);
                }
            }
        }

        .section--podcast__img {
            width: 100%;
            object-fit: cover;
            display: block;

            @include media("<xlarge") {
                height: 600px;
            }

            @include media(">medium","<large") {
                height: 700px;
            }
        }
    }
}


.index-footer {
  background: url(../images/bg-footer.jpg);
  background-size: cover;

  .index-footer__container {
      padding: 42px 0 24px;
      text-align: center;

      p {
          color: $white;
          font-size: 18px;
          font-weight: 300;
      }

      .copyright {
          margin-bottom: 0;
      }

      .cal-outline {
          height: 160px;
      }

      .social {
          height: 160px;
          padding-top: 65px;

          a:focus {
              outline: none;
          }

          img {
              width: 35px;
              margin: 0 16px;

              @include media(">medium", "<large") {
                  margin: 12px;
              }
          }
      }

      .border-right {
          @include media(">medium") {
             border-right: 1px solid $white;
          }
      }

      .links {
          text-align: left;
          margin-left: 40px;
          margin-top: 12px;
          
          @include media("<medium") {
            text-align: center;
            margin: 0;
          }

          li {
              margin-bottom: 8px;

              @include media("<medium") {
                  display: inline-block;
                  padding: 4px 8px;
              }

            a {
                color: $white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: .8px;

                @include media("<medium") {
                    font-size: 16px;
                }
            }

          }
      }
  }
}

.book-btn--circle {
    background-color: #348ec5;
    border: 4px solid rgba(255,255,255,0.8);
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    padding: 45px 0;

    color: #fff;
    text-decoration: none;
    transition: none;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.3;

    &.book-btn--sm {
        height: 150px;
        width: 150px;
        padding: 40px 0;
        border: none;
        display: inline-block;
        margin: 0 16px;
    }
}

.book-btn {
    margin-bottom: 175px;
    text-transform: uppercase;
    text-align: center;

    a {
        position: relative;
        display: block;
        height: 140px;
        width: 220px;
        margin: 0 auto;
        color: $black;
        text-decoration: none;
        transition: none;

        &:hover {
            color: $white;

            p.divider {
                &:before, &:after {
                    border-color: $white;
                }
            }
        }
    }



    p {
        margin-bottom: .1em;
        font-size: 32px;
        cursor: pointer;


        &.divider {
            font-size: 24px;
            text-transform: lowercase;
            position: relative;

            &:before, &:after {
                content: "";
                position: absolute;
                height: 1px;
                border-bottom: 1px solid #333;
                top: 17px;
                width: 50px;
            }

            &:before {
                left: 30px;
            }
            &:after {
                right: 30px;
            }
        }
    }
}

.carousel {
    position: relative;
    top: -125px;
    // margin: 0 auto;

    .quote {
        background-color: #eaeaea;
        border-radius: 8px;
        height: auto;
        width: 350px;
        max-width: 100%;
        padding: 5% 0;
        box-shadow: 8px 8px 16px rgba(0,0,0,0.2);
        display:inline-block;
        position: absolute;
        transition: 1s ease;
        overflow: hidden;

        @include media("<large") {
            width: 250px;
        }

        p {
            font-size: 32px;
            text-align: center;
            width: 90%;
            margin: 0 auto;


            @include media("<large") {
                font-size: 24px;
                width: 95%;
            }
        }

        &.quote--1 {
            left: 0;
            transform: scale(.6);
            z-index: 1;

            @include media("<medium") {
                display: none;
            }
        }

        &.quote--2 {
            left: 15%;
            transform: scale(.8);
            z-index: 10;

            @include media("<large") {
                left: 15%;
            }

            @include media("<medium") {
                left: 0;
                display: block;
            }
        }

        &.quote--3 {
            left: 35%;
            z-index: 100;
            transform: scale(1);

            @include media("<large") {
                left: 35%;
            }
            @include media("<medium") {
                left: 0;
                right: 0;
                margin: auto;
                display: block;
            }
        }

        &.quote--4 {
            left: 55%;
            transform: scale(.8);
            z-index: 10;

            @include media("<large") {
                left: 55%;
            }

            @include media("<medium") {
                right: 0;
                left: inherit;
                display: block;
            }
        }

        &.quote--5 {
            left: 70%;
            transform: scale(.6);
            z-index: 2;

            @include media("<large") {
                left: 70%;
            }

            @include media("<medium") {
                display: none;
            }
        }
    }
}


// about page
.section--about-header {
    background-image: url(../images/about-header.jpg);
    background-position: top center;
    height: 800px;

    @include media("<medium") {
        height: 600px;
        background-position-x: 30%;
    }

    h1 {
        height: 800px;
        line-height: 800px;
        color: $white;
        text-align: right;
        margin-right: 15vw;
        font-size: 5em;
        font-weight: 300;
        font-style: italic;
        text-transform: uppercase;

        @include media("<medium") {
            height: 600px;
            line-height: 600px;
            text-align: center;
            margin-right: 0;
            font-size: 4em;
        }
    }
}

.about {

    &.container {
        padding: 0 36px;
    }

    .title {
        text-align: center;
        padding: 56px 0;
        margin-bottom: 48px;
        border-bottom: 1px solid $black;

        h1 {
            font-weight: 300;
            margin-bottom: 0;
            font-size: 2.5em;
            line-height: 1.5;
            font-style: italic;
        }
    }

    .body-text {
        font-size: 1.5em;
        font-weight: 300;
        margin-bottom: 1.5em;
        line-height: 1.7;

        &.body-text--lg {
            font-size: 1.7em;
        }
    }

    .img-left {
        width: 45%;
        max-width: 500px;
        float: left;
        margin-right: 32px;

        @include media("<medium") {
            width: 100%;
            float: none;
            display: block;
            margin: 16px auto;
        }
    }

    .img-right {
        width: 45%;
        max-width: 500px;
        float: right;
        margin-left: 32px;

        @include media("<medium") {
            width: 100%;
            float: none;
            display: block;
            margin: 16px auto;
        }
    }

    .img-center {
        display: block;
        width: 100%;
        margin: 16px auto 32px;
    }
}

.photo-carousel {
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 32px;
    position: relative;

    .photo-carousel__img {
        height: 400px;
        width: auto;
        object-fit: cover;
        display: inline-block;
        margin-right: 16px;

        &:last-of-type {
            margin-right: 0;
        }

        @include media("<medium") {
            width: 100%;
        }
    }

    .photo-carousel__nav {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 16px;
        cursor: pointer;
        
        &.photo-carousel__nav--left {
            left: 0;
        }
        &.photo-carousel__nav--right {
            right: 0;
        }
    }
}

// contact page
.contact {
    .contact__img {
        width: 50vw;
        max-width: 800px;
        min-height: 1000px;
        object-fit: cover;
    }

    .title {
        text-align: center;
        width: 85%;
        margin: 0 auto 1em auto;
        font-weight: 400;
    }

    .subtitle {
        width: 85%;
        margin: 0 auto 2em auto;
        font-weight: 300;
        font-size: 1.2em;
    }

    .book-buttons {
        text-align: center;
        margin-bottom: 3em;
    }

    .team-title {
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.8em;
        margin-bottom: 1.5em;
    }

    .flag--main {
        .flag__body {
            .title {
                position: relative;
            }
            .arrow {
                height: 10px;
                position: absolute;
                left: -150px;
                top: 50px;
                -ms-transform: rotate(-12deg);
                -webkit-transform: rotate(-12deg);
                transform: rotate(-12deg);

                @include media("<large") {
                    display: none;
                }
            }
        }

        @include media("<large") {
            display: block;

            .flag__image--main {
                display: block;
                margin-top: 86px;

                img {
                    width: 80%;
                    max-width: 400px;
                    display: block;
                    margin: 16px auto;
                    min-height: 0;
                }
            }
        }
    }

    .team {
        width: 90%;
        margin: 0 auto;
        text-align: center;

        @include media("<small") {
            width: 80%;
            text-align: left;
        }

        .flag {
            display: inline-block;
            margin-right: 24px;
            width: initial;
            margin-bottom: 24px;
            text-align: left;

            .flag__image img {
                width: 80px;
            }
        }
    }

    .name {
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 1.1em;
        margin-left: 4px;
    }

    .position {
        font-style: italic;

        &:before,&:after {
            content: "\"";
        }
    }
}