.navbar {
    background: url(../images/bg-nav.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16px 32px;
    box-shadow: 4px 4px 32px $black;
    position: relative;
    z-index: 10;
    transition: all .15s ease;

    &.navbar--transparent {
        background: transparent;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        box-shadow: none;

        @include media("<medium") {
             background-color: rgba(0,0,0,0.8);
        }
    }

    .navbar__logo {
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;

        @include media("<medium") {
            font-size: 12px;
        }

        &.black {
            color: $black;

            @include media("<medium") {
                color: $white;
            }
        }

        h1 {
            margin-bottom: 0;
            display: inline-block;
            font-size: 2.4em;

            @include media(">=medium", "<large") {
                font-size: 1.8em;
            }
        }
    }

    .navbar__icon {
        color: $white;
        text-decoration: none;
        display: none;
        float: right;
        font-size: 20px;

        @include media("<medium") {
            display: block;
        }
    }

    ul {
        float: right;

        @include media("<medium") {
            display: none;
        }
        
        &.black {
            li {
                a {
                    color: $black;

                    @include media("<medium") {
                        color: $white;
                    }
                }
            }
        }

        li {
            display: inline-block;
            padding: 10px 0 8px 42px;

            a {
                color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 18px;

                &.active, &:hover {
                    text-decoration: underline;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    &.navbar--responsive {
        ul {
            float: none;
            display: block;

            li {
                display: block;
                padding: 12px 0;

                &:first-of-type {
                    padding-top: 16px;
                }
            }
        }
    }
}

.navbar--book {
    position: fixed;
    right: 32px;
    z-index: 100;
    top: 0;
    color: $white;
    text-decoration: none;
    display: none;
    padding: 30px 24px 16px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 16px;
    margin-top: -18px;
    letter-spacing: 1px;
    font-size: 20px;

    @include media("<medium") {
        padding: 20px 16px 10px;
        margin-top: -12px;
        font-size: 16px;
    }

}