.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.slider-btn {
    display: inline-block;
    margin: .5em;
    // cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $white;
}

.hide-on-medium {
    @include media("<=medium") {
        display: none !important;
    }
}


.hide-on-not-medium {
    @include media(">medium") {
        display: none !important;
    }
}

.hide-on-large {
    @include media("<=large") {
        display: none !important;
    }
}


.hide-on-not-large {
    @include media(">large") {
        display: none !important;
    }
}