.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.slider-btn {
    display: inline-block;
    margin: .5em;
    // cursor: pointer;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: $white;
}

.hide-on-medium {
    @include media("<=medium") {
        display: none !important;
    }
}


.hide-on-not-medium {
    @include media(">medium") {
        display: none !important;
    }
}

.hide-on-large {
    @include media("<=large") {
        display: none !important;
    }
}


.hide-on-not-large {
    @include media(">large") {
        display: none !important;
    }
}

.flag {
    display: table;
    width: 100%;
}

.flag__image,
.flag__body {
    display: table-cell;
    vertical-align: middle;

    .flag--top & {
        vertical-align: top;
    }

    .flag--bottom & {
        vertical-align: bottom;
    }

}

.flag__image {
    padding-right: 10px;

    > img {
        display: block;
        max-width: none;
    }

    .flag--rev & {
        padding-right: 0;
        padding-left: 10px;
    }

}

.flag__body {
    width: 100%;
}